.userH3 {
  text-align: center;
  margin-top: 140px;
  font-family: 'Montserrat';

}
.table-wrapper {
  width: 1320px;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: 'Montserrat';
}

.table-row, .table-head {
  background: #F1F6F9;
  padding: 10px 0;
  border: 1px solid #8f8f8f;
}

.table-row td {
  padding: 10px 0;
  border: 1px solid #8f8f8f;
  font-family: 'Montserrat';
  text-align: center;
}

.table-row:nth-child(odd) {
  background: #ffffff;
}
