
.calculator {
    height: 90vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.calculator-inner {
    background: #0b6196;
    padding: 20px;
}

.calc-display {
    padding: 10px 0;
    background: #00000098;
    color: #e9f5fc;
    margin: 10px 0;
}

.calc-button {
    height: 44px;
    width: 50px;
    border: none;
    margin: 1px;
    background: #f8f296;
}